<!--
    CONTROLES ORIENTADO A DATOS**********************************************


----------------------------------------
*** SELECT CONTROL**********************
----------------------------------------



SCRIPT JQUERY PARA MANDAR A UN TEXT EL ELEMENTO SELECCIONADO DE UN SELECT
    .....................................................................

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(function(){
    $("#typelist").change(function(){
        var displaycourse=$("#typelist option:selected").text();
        $("#xxx").val(displaycourse);
})
})
</script>

SCRIPT DE JS PARA MANDAR UN ALERT DEL VALUE DE UN SELECT, SEGUN EL ELEMENTO SELECCIONADO
........................................................................................

<script>
function ShowSelected()
{
    var cod = document.getElementById("typelist").value;
    alert(cod);
}
</script>

 <select id="typelist" name="type" class="" onchange="ShowSelected();">
    <option value="1">MEXICO</option> 
    ...

EJEMPLO PARA LLENAR UNA LISTA DESDE LA BASE DE DATOS EN LARAVEL

    @foreach($mytype as $type)
        <option value='{{$type->id}}'>
        {{$type->type}}
        </option>
    @endforeach







-------------------------------------------
*** ROLES Y PERMISOS **********************
-------------------------------------------
videos 33-37 de raul palacios

1 se genero el entorno de user register con AUTH

2 se creo y personalizo la migracion roles al agregarle un campo

    *****en este punto queda el primer hueco: no hay forma de que al crear un 
    usuario tome algun rol, se debe modificar la vista de registro para que
    tome algun valor por defecto****

3 se puso un valor default al campo role_id de la tabla usuario (1-guess), 
pues lo logico es que las cuentas iniciales de los usuarios sean de este 
tipo

   $table->integer('role_id')->default('1');

4 se creo la tabla pivote role_user para relacionarlas varios a varios,
agregando los id de roles y usuarios.

5 se crean las definiciones de las relaciones en los respectivos modelos
...belogsToMany...

    ******aqui sale otro problema, debe haber algun modulo de administracion de
    roles. en este, el alta debe contemplar un metodo para agregar tambien las
    claves en la tabla piloto. en el video utiliza seeders que llaman a un metodo
    ATACH. buscar referencia*******

    ****video 35 explica como crear seeders****

6 en el modelo user se implementaron 3 procedimientos para verificar los permisos
del usuario que desencadena la peticion

7 en el controlador de cada proceso se introduce el filtro para decidir que
permisos aplican o no a cada accion. parecido a asp.mvc

    por ejemplo en el index de recipes:

     $req->user()->authorizeRoles(['guess','user']);





-->